<html ng-app="FoodMart">
<head>

	<script src="angular.min.js"></script>
	<script src="new1.js"></script>
</head>
<body ng-controller="login"><center>
<div ng-style="loginStyle">
<h1>Returning Customer</h1>
<input type="text" placeholder="Email:" ng-model="email"><br>
<input type="text" placeholder="Password:" ng-model="password"><br>
<input type="button" value="login" ng-click="login()"><br>
forgot your password?<a href="#hello"> Click here</a>
</div>
<div ng-style="error">
<h2>Invalid Credentials</h2>
</div>
<div ng-style="orderStyle">
<h2>Welcome!</h2>
<img src="02.png">
</div>
</center>
</body>
</html>
